.siteNavWrapper {
	a {
		@include transition(all 0.6s ease);
	}
}
.navMenu {
	@include transition(top 0.2s ease-in-out);
}
.btn, a, .isLink {
	@include transition (all 0.2s ease);
}

.icon, .icon path, .bmoreLink em {
	@include transition (all 0.4s ease-in-out);
}

.homepage {
	.eventItem {
		.dateWrapper, .eventTitle span {
			@include transition(all 0.2s ease-in);
		}
	}
	section .sectionHeading {
		@include transition(all 0.2s ease-in);
	}
}
