@import 'variables';

html {
	background:$color-offwhite;
	@media only screen and (min-width:1280px) {
		background:$color-offblack;
	}
}

body {
	color:$color-offblack;
}

.siteHeader {
}

.siteNavWrapper {
	a {
		color:$color-offwhite;
		&:hover, &:focus {
			color:$color-fiery;
		}
	}
}

.navMenu {
	@media only screen and (max-width:729px) {
		background:$color-offblack;
	}
}

.siteNav {
	@media only screen and (max-width:729px) {
		background:$color-offblack;
	}
	@media only screen and (min-width:730px) {
		.homepage & {
			background:rgba($color-offblack,0.35);
			li {
				&:hover, &:focus {
					a {
						background:$color-offblack;
					}
					> .submenu {
						background:$color-offblack;
					}
				}
			}		
		}
		.interior & {
			background:$color-charcoal;
			li a {
				&:hover, &:focus {
						background:$color-offblack;
				}
			}
		}
	}
	li {
		border-bottom-color:$color-charcoal;
	}
	.submenu {
		border-top-color:$color-charcoal;
	}
}

.homepage {
	main {
		@media only screen and (min-width:1280px) {
			background:$color-offwhite;
		}	
	}
	.sectionHeading {
		a {
			color:white;
		}
	}
	article {
		.metaContinueReading a {
			color:$color-fiery;
			&:hover, &:focus {
				color:darken($color-fiery,8%);
			}
		}
	}
}

.homepage .events {
	.sectionHeading, .eventList li {
		border-bottom-color:lighten($color-cream,20%);
	}
	.dateWrapper {
		@include linear-gradient(to right, $color-fiery, $color-fiery 50%, white 50%, white);
		background-position:100% 0;
		background-size:200% 100%;
		color:$color-fiery;		
	}
	.eventWrapper {
		color:$color-charcoal;
		span {
			@include linear-gradient(to right, rgba($color-sunburst,0.5), rgba($color-sunburst,0.5) 50%, transparent 50%, transparent);
			background-color:transparent;
			background-position:100% 0;
			background-size:200% 100%;
		}
	}
	.eventItem {
		&:hover, &:focus {
			.dateWrapper, .eventTitle span {
				background-position:0 0;
			}
			.dateWrapper {
				color:white;
			}
		}		
	}
	@media only screen and (min-width:768px) {
		background:white;
	}
}

// Hompage sections
@mixin theme($name, $color) {
	$themePrimary: $color;
	$themeSecondary: darken($color, 3%);

	.homepage .#{$name} {
		.sectionHeading {
			background-position:100% 0;
			background-size:200% 100%;
			&:hover, &:focus {
				background-position:0 0;
			}
		}
		.articleHeadline a {
			&:hover, &:focus {
				color:$themeSecondary;
			}
		}
		@media only screen and (max-width:767px) {
			border-top-color:$themePrimary;
			.sectionContent {
				background-color:white;
			}
			&.fullView {
				.sectionHeading {
					@include linear-gradient(to right, $themePrimary, $themePrimary 50%, $color-charcoal 50%, $color-charcoal);
				}
			}
			&.minView {
				.sectionHeading {
					@include linear-gradient(to right, $themeSecondary, $themeSecondary 50%, $themePrimary 50%, $themePrimary);
				}
			}			
		}
		@media only screen and (min-width:768px) {
			background-color:$themePrimary;
			.sectionHeading {
				@include linear-gradient(to right, rgba($color-offblack,0.1), rgba($color-offblack,0.2), transparent 50%, transparent);
			}
			.sectionContent {
				background-color:white;
			}
		}
	}
}

$sections: (
	blog: $color-fiery,
	news: darken($color-melon,3%),
	careers: $color-sunburst,
	community: lighten($color-melon,3%)
	) !default;

@each $section, $color in $sections {
	@include theme($section, $color);
}

.interior {
	article {
		background:white;
	}
}

.articleHeadline a {
	color:$color-charcoal;
}

.articleFooter {
	background:$color-sunburst;
	.shareWrapper {
		border-bottom-color:white;
		color:white;
		.icon {
			background-position:0 100%;
			background-size:100% 200%;
			&.logo-twitter {
				@include linear-gradient(to bottom, #55acee, #55acee 50%, $color-sunburst 50%, $color-sunburst);
			}
			&.logo-fb {
				@include linear-gradient(to bottom, #3b5998, #3b5998 50%, $color-sunburst 50%, $color-sunburst);
			}
			&:hover, &:focus {
				background-position:0 0;
			}			
		}
	
		// .icon {
		// 	&:hover, &:focus {
		// 		path {
		// 			fill:$color-fiery;
		// 			stroke:$color-fiery;
		// 		}
		// 	}
		// }
	}
}

.siteFooter {
	background:darken($color-charcoal,15%);
	color:lighten($color-cream,8%);
	a {
		color:lighten($color-cream,20%);
		&:hover, &:focus {
			color:white;
			.icon {
				background:white;
				path {
					fill:$color-fiery;
					stroke:$color-fiery;
				}
			}
		}
	}
	.icon {
		path {
			fill:lighten($color-cream,20%);
			stroke:lighten($color-cream,20%);
		}
	}
	.bmoreLink {
		a {
			&:hover, &:focus {
				em {
					color:$color-fiery;
				}
			}
		}	
	}
}