@import 'webfonts';

body {
	font-family:$font-body;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

.nowrap {
	white-space:nowrap;
}

.siteHeader {
}

.siteFooter {
}


.articleHeader {
}

.heading {
}

.pageHeader, .sectionHeader {
}