@import 'webfonts';

body {
	font-family:$font-body;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

.nowrap {
	white-space:nowrap;
}

.siteHeader {}

.siteDesc {
	.headline {
		font-family:$font-mono;
		@include scut-rem-fallback(20);
		text-transform: uppercase;
	}
}

.siteNavWrapper {
	text-align:right;
}

.navMenu {
	font-family:$font-heading;
	@include scut-rem-fallback(16);
	letter-spacing: 2px;
	text-transform: lowercase;
}

.siteNav {
	line-height: 2.5;
	text-align:center;
}

.sectionHeading {
	font-family:$font-mono;
	@include scut-rem-fallback(20);
	font-weight:bold;
	letter-spacing:2px;
	text-align:center;
	text-transform:uppercase;
	a {
		text-decoration: none;
	}
	.events & {
		font-family:$font-heading;
		@include scut-rem-fallback(36);
		text-transform:lowercase;
	}
}

article.sectionContent {
	.meta {
		line-height:1;
		margin-bottom:15px;
	}
}

.articleHeadline {
	font-family:$font-heading;
	font-weight: bold;
	@include scut-rem-fallback(22);
}

.homepage article {
	.metaContinueReading {
		font-size:90%;
	}
}

.meta, .eventMeta {
	span {
		font-size:90%;
		font-style:italic;
		letter-spacing:-1px;
	}
}

.siteFooter {
	.bmoreLink {
		em {
			font-style: normal;
		}
	}
}
