@import 'webfonts';

body {
	font-family:$font-body;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

.nowrap {
	white-space:nowrap;
}

.siteHeader {}

.siteDesc {
	.headline {
		font-family:$font-mono;
		@include scut-rem-fallback(20);
		text-transform: uppercase;
		@media only screen and (min-width:380px) {
			@include scut-rem-fallback(24);
		}
		@media only screen and (min-width:1024px) {
			@include scut-rem-fallback(30);
		}
	}
}

.siteNavWrapper {
	text-align:right;
}

.navMenu {
	font-family:$font-heading;
	@include scut-rem-fallback(16);
	letter-spacing: 2px;
	text-transform: lowercase;
}

.siteNav {
	line-height: 2.5;
	text-align:center;
	@media only screen and (min-width:730px) {
		font-family:$font-mono;
		letter-spacing: 2px;
		text-transform: uppercase;
		.homepage & {
			text-align:right;
			a {
				text-align:center;
			}
			.submenu a {
				line-height: 1.2;
			}
		}
		.interior & {
			text-align:left;
		}
	}
}

.sectionHeading {
	font-family:$font-mono;
	@include scut-rem-fallback(20);
	font-weight:bold;
	letter-spacing:2px;
	text-transform:uppercase;
	a {
		text-decoration: none;
	}
	.events & {
		font-family:$font-heading;
		@include scut-rem-fallback(36);
		text-transform:lowercase;
	}
	@media only screen and (max-width:767px) {
		text-align:center;
	}
}

.homepage { 
	article .metaContinueReading {
		font-size:90%;
	}
}

.meta, .articleContent, .sectionContent {
	@media only screen and (min-width:1024px) {
		@include scut-rem-fallback(18);
	}
}

.meta, .eventMeta {
	span {
		font-size:90%;
		font-style:italic;
		letter-spacing:-1px;
	}
}

.siteFooter {
	.socialWrapper {
		font-family:$font-mono;
	}
	.bmoreLink {
		em {
			font-size:110%;
			font-style: normal;
		}
	}
}
