$color-melon: #FF832F;
$color-fiery: #F71337;
$color-sunburst: #FFBE05;
$color-charcoal: #5D5848;
$color-cream: #D0BD7E;

$color-offwhite:lighten($color-cream, 28%);
$color-offblack:darken($color-charcoal,20%);

$font-serif : eratolight, serif;
$font-slabserif : ponsi_rounded_slabregular, serif;
$font-mono : monoidregular, monospace;
$font-mono-bold : monoidbold, monospace;

$font-body: $font-serif;
$font-heading: $font-slabserif;