$color-offwhite : #F6F7F2;
$color-offblack : #171E22;
$color-greydk : #30383D;
	$color-graydk : $color-greydk;
$color-greyli : #768187;
	$color-grayli : $color-greyli;
$color-blue : #305061;

$color-orange:#da4f20;
$color-lime: #92bd0a;
	$color-limeli: lighten($color-lime,8);
$color-cyan: #049d84;
$color-violet:#9c3c86;

$borderTrans : 1px solid rgba(white,.25);

$font-body : aleoregular, serif;
$font-mono : bpmonoregular, monospace;