$color-melon: #FF8133;
$color-fiery: #F6083C;
$color-sunburst: #FFC105;
$color-charcoal: #4F524E;
$color-cream: #CCC089;

$color-offwhite:lighten($color-cream, 28%);
$color-offblack:darken($color-charcoal,20%);

$font-serif : eratolight, serif;
$font-slabserif : ponsi_rounded_slabregular, serif;
$font-mono : monoidregular, monospace;
$font-mono-bold : monoidbold, monospace;

$font-body: $font-serif;
$font-heading: $font-slabserif;