<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<p>The following icons from the Noun Project are used with gratitude</p>
		<ul>
			<li><a href="https://thenounproject.com/term/facebook/69631/">Facebook icon by Simon</a></li>
			<li><a href="https://thenounproject.com/term/twitter/49609/">Twitter icon by Housin Aziz</a></li>
			<li><a href="https://thenounproject.com/term/network/86987/">Network icon by iconoci</a></li>
			<li><a href=""></a></li>
		</ul>

	</body>
</html>