<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <title>Baltimore Women in Tech</title>
    <meta description=''>
    <link href="styles/site.css" media="all" rel="stylesheet" />
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Using v1 of the tumblr API for now since v2 has a bug in it that prevents some needed features
      http://stackoverflow.com/questions/26233009/how-to-get-tagged-posts-for-a-specific-blog-using-tumblr-api-v2
    -->
    <pre class="prettyprint"><script type="text/javascript" src="http://baltimorewit.tumblr.com/api/read/json"></script></pre>
  </head>
  <body>
    <div class='homepage siteWrapper'>
      <div class='masthead'>
        <nav id='js-sitenav' class='siteNavWrapper' role='navigation'>
          <a class='navMenu' href='#' id='js-mobile-menu'>Menu</a>
          <ul class='siteNav show' id='js-navigation-menu'>
            <li>
              <a href='#'>Home</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
              <ul class='submenu'>
                <li>
                  <a href='#'>Join</a>
                </li>
                <li>
                  <a href='#'>Donate</a>
                </li>
                <li>
                  <a href='#'>Contact</a>
                </li>
              </ul>
            </li>
            <li>
              <a href='#'>News</a>
            </li>
            <li>
              <a href='#'>Careers</a>
              <ul class='submenu'>
                <li>
                  <a href='#'>Jobs</a>
                </li>
                <li>
                  <a href='#'>Mentoring</a>
                </li>
              </ul>
            </li>
            <li>
              <a href='#'>Community</a>
              <ul class='submenu'>
                <li>
                  <a href="/">Events</a>
                </li>
                <li>
                  <a href='#'>Blog</a>
                </li>
                <li>
                  <a href='#'>Resources</a>
                </li>
                <li>
                  <a href='#'>Connect</a>
                </li>
                <li>
                  <a href='#'>Code of Conduct</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <header class='siteHeader'>
          <div class='siteLogo' title="Baltimore Women in Tech">
            <h1 class='siteName'>Baltimore Women in Tech</h1>
          </div>
          <div class='siteDesc'>
            <h2 class='headline'>We are a group of women in technology &amp; digital careers or studies who <span data-typer-targets='support each other, exchange ideas, learn new skills, encourage others, grow our networks,  advocate for diversity in our fields'>support each other</span>.</h2>
            <div class="btnWrapper">
              <a class='btn btnPrimary joinCTA' href='#'>Join</a>
              <a class='btn btnDefault' href='#'>Learn More</a>
            </div>
            <div class='siteLogoSecondary'>
            </div>
          </div>
        </header>
      </div>
      <main>
        <!-- Definitely makes sense to break these out into their own partials, just wasn't sure the best way to organize that (ie, one partial for events calendar, another for the content blurbs). -->
        <section class='events'>
          <h3 class='sectionHeading'>Events</h3>
          <ul class='eventList wrapper'>
            <li>
              <a class='eventItem' data-notes='links to the meetup page' href='#'>
                <span class='dateWrapper'>
                  <span class='month'>March</span>
                  <span class='date'>21</span>
                </span>
                <span class='eventWrapper'>
                  <h4 class='eventTitle'><span>Anne Arundel County Saturday Sneak-Out</span></h4>
                  <span class='eventMeta'>Saturday <span>at</span> 1<span>pm</span></span>
                </span>
              </a>
            </li>
            <li>
              <a class='eventItem' data-notes='links to the meetup page' href='#'>
                <span class='dateWrapper'>
                  <span class='month'>May</span>
                  <span class='date'>03</span>
                </span>
                <span class='eventWrapper'>
                  <h4 class='eventTitle'><span>May Brunch @Waterside REstaurant (Sheraton) Columbia</span></h4>
                  <span class='eventMeta'>Sunday <span>at</span> 11<span>am</span></span>
                </span>
              </a>
            </li>
            <li>
              <a class='eventItem' data-notes='links to the meetup page' href='#'>
                <span class='dateWrapper'>
                  <span class='month'>May</span>
                  <span class='date'>11</span>
                </span>
                <span class='eventWrapper'>
                  <h4 class='eventTitle'><span>Unconscious Bias (+ open forum to follow)</span></h4>
                  <span class='eventMeta'>Monday <span>at</span> 6:30<span>pm</span></span>
                </span>
              </a>
            </li>
            <li>
              <a class='eventItem' data-notes='links to the meetup page' href='#'>
                <span class='dateWrapper'>
                  <span class='month'>June</span>
                  <span class='date'>23</span>
                </span>
                <span class='eventWrapper'>
                  <h4 class='eventTitle'><span>Getting Your Voice Heard: Confidence and Public Speaking (& why it's important)</span></h4>
                  <span class='eventMeta'>Tuesday <span>at</span> 6:15<span>pm</span></span>
                </span>
              </a>
            </li>
            <li>
              <a class='eventItem' data-notes='links to the meetup page' href='#'>
                <span class='dateWrapper'>
                  <span class='month'>July</span>
                  <span class='date'>12</span>
                </span>
                <span class='eventWrapper'>
                  <h4 class='eventTitle'><span>July Brunch @Woodberry Kitchen</span></h4>
                  <span class='eventMeta'>Sunday <span>at</span> 12:15<span>pm</span></span>
                </span>
              </a>
            </li>
            <li>
              <a class='eventItem' data-notes='links to the meetup page' href='#'>
                <span class='dateWrapper'>
                  <span class='month'>July</span>
                  <span class='date'>18</span>
                </span>
                <span class='eventWrapper'>
                  <h4 class='eventTitle'><span>July Beer @ Frisco Grill - Waugh Chapel</span></h4>
                  <span class='eventMeta'>Saturday <span>at</span> 3<span>pm</span></span>
                </span>
              </a>
            </li>
            <li>
              <a class='eventItem' data-notes='links to the meetup page' href='#'>
                <span class='dateWrapper'>
                  <span class='month'>Aug</span>
                  <span class='date'>02</span>
                </span>
                <span class='eventWrapper'>
                  <h4 class='eventTitle'><span>August Brunch @Kelsey's Restaurant and Irish Pub in Ellicott City</span></h4>
                  <span class='eventMeta'>Sunday <span>at</span> 10:30<span>am</span></span>
                </span>
              </a>
            </li>
          </ul>
          <p class='alignCenter'>
            <a href='#' class='btn btnDefault'>View All Events</a>
          </p>
        </section>
        <section class='news fullView'>
          <h3 class='sectionHeading'>
            <a href='#' title="View All News">News</a>
          </h3>
          <article class='sectionContent'>
            <script type="text/javascript">    
              var newsBody = "";    
              var newsTitle = "";   
              var posts = tumblr_api_read['posts'];
              for(i = 0; i < posts.length; i++) {
                var tags = tumblr_api_read['posts'][i]['tags'];
                if(tags.indexOf("news") != -1) {
                  newsPost = tumblr_api_read['posts'][i]['regular-body'].replace(/<\/p>/,"<\/div>").replace(/<p>/, "<div class=\"articleContent\">");
                  newsTitle = tumblr_api_read['posts'][i]['regular-title'];
                  break;
                }
              }
            </script>
            <h4 class='articleHeadline'>
              <a href='#'><script>document.write(newsTitle)</script></a>
            </h4>
            <p class='meta'>
              <span>by</span> 
              Author Name
            </p>
            <p><script>document.write(newsPost)</script><span class="metaContinueReading">&hellip; <a href="#">read more</a></span></p>
          </article>
        </section>
        <section class='blog fullView'>
          <h3 class='sectionHeading'>
            <a href='#' title="View All Blogs">Blog</a>
          </h3>
          <article class='sectionContent'>
            <h4 class='articleHeadline'>
              <a href='#'><script>document.write(tumblr_api_read['posts'][0]['regular-title'])</script></a>
            </h4>
            <p class='meta'>
              <span>by</span> 
              Author Name
            </p>
            <p><script>document.write(tumblr_api_read['posts'][0]['regular-body'].replace(/<\/p>/,"<\/div>").replace(/<p>/, "<div class=\"articleContent\">"));</script><span class="metaContinueReading">&hellip; <a href="#">read more</a></span></p>
          </article>
        </section>
        <section class='blog fullView'>
          <h3 class='sectionHeading'>
            <a href='#' title="View All Blogs">Blog</a>
          </h3>
          <article class='sectionContent'>
            <h4 class='articleHeadline'>
              <a href='#'><script>document.write(tumblr_api_read['posts'][1]['regular-title'])</script></a>
            </h4>
            <p class='meta'>
              interviewed <span>by</span> Author Name
            </p>
            <p><script>document.write(tumblr_api_read['posts'][1]['regular-body'].replace(/<\/p>/,"<\/div>").replace(/<p>/, "<div class=\"articleContent\">"));</script><span class="metaContinueReading">&hellip; <a href="#">read more</a></span></p>
          </article>
        </section>
        <section class='careers minView'>
          <h3 class='sectionHeading'>
            <a href='#'>Careers</a>
          </h3>
          <div class='sectionContent'>
            <ul>
              <li>
                <a href='#'>Job Title</a>
                <span>posted on June 1</span>
              </li>
              <li>
                <a href='#'>Job Title</a>
                <span>posted on June 1</span>
              </li>
              <li>
                <a href='#'>Job Title</a>
                <span>posted on June 1</span>
              </li>
            </ul>
          </div>
        </section>
        <section class='careers minView'>
          <h3 class='sectionHeading'>
            <a href='#'>Careers</a>
          </h3>
          <div class='sectionContent'>
            <a href='#'>
              Be a
              <em>mentor</em>
            </a>
            <a href='#'>
              Find a
              <em>mentor</em>
            </a>
          </div>
        </section>
        <section class='community minView'>
          <h3 class='sectionHeading'>
            <a href='#'>Community</a>
          </h3>
          <div class='sectionContent'>
            <ul>
              <li>
                <a href='#'>Blog</a>
              </li>
              <li>
                <a href='#'>Resources</a>
              </li>
              <li>
                <a href='#'>Connect</a>
              </li>
              <li>
                <a href='#'>Code of Conduct</a>
              </li>
            </ul>
          </div>
        </section>
      </main>
      <footer class='siteFooter wrapper'>
        <a class='btn btnPrimary donateCTA' href='#'>Donate</a>
        <ul class='noList socialWrapper'>
          <li>
            <a href='#'>
              <span class='icon'>t</span>
              @bmorewit
            </a>
          </li>
          <li>
            <a href=''>
              <span class='icon'>f</span>
              bmorewit
            </a>
          </li>
        </ul>
        <p class='alignCenter bmoreLink'>
          <a href='#'>
            Made with
            <em>&hearts;</em>
            in Baltimore
          </a>
        </p>
        <ul class='noList wrapperInline legal'>
          <li class='element'>
            &copy; Copyright 2015 Copyright Name
          </li>
          <li class='element'>
            <a href='#'>Site Credits</a>
          </li>
          <li class='element'>
            <a href='#'>Contact</a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/jquery.typer.js"></script>
    <script>
      $(document).ready(function() {
        mobileMenu();
      });

      $(function () {
        $('[data-typer-targets]').typer();
      });
      
      function mobileMenu() {
        var menuToggle = $('#js-mobile-menu').unbind();
      
        $('#js-navigation-menu').removeClass('show');
        menuToggle.on('click', function(e) {
          e.preventDefault();
          $('#js-navigation-menu').slideToggle(function() {
            if ($('#js-navigation-menu').is(':hidden')) {
              $('#js-navigation-menu').removeAttr('style');
            }
          });
        });
      }
      // Hide Header on on scroll down
      var didScroll;
      var lastScrollTop = 0;
      var delta = 5;
      var navbarHeight = $('#js-mobile-menu').outerHeight();

      $(window).scroll(function(event){
          didScroll = true;
      });

      setInterval(function() {
          if (didScroll) {
              hasScrolled();
              didScroll = false;
          }
      }, 250);

      function hasScrolled() {
          var st = $(this).scrollTop();
          
          // Make sure they scroll more than delta
          if(Math.abs(lastScrollTop - st) <= delta)
              return;
          
          // If they scrolled down and are past the navbar, add class .nav-up.
          // This is necessary so you never see what is "behind" the navbar.
          if (st > lastScrollTop && st > navbarHeight){
              // Scroll Down
              $('#js-mobile-menu').removeClass('nav-down').addClass('nav-up');
          } else {
              // Scroll Up
              if(st + $(window).height() < $(document).height()) {
                  $('#js-mobile-menu').removeClass('nav-up').addClass('nav-down');
              }
          }
          
          lastScrollTop = st;
      }
    </script>
    <!-- Set up and add Google Analytics here -->
  </body>
</html>
