<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/styles/site.css">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="interior blog siteWrapper wrapper">
			<div class="masthead">
				<nav id="js-sitenav" role='navigation'>
					<a href="#" id="js-mobile-menu" class="navMenu btn">Menu</a>
					<ul id="js-navigation-menu" class="siteNav show">
						<li id="js-home-link"><a href="#">Home</a></li>
						<li><a href="#">About</a>
							<ul class="submenu">
								<li id="js-join-link"><a href="#">Join</a></li>
								<li><a href="#">Donate</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</li>
						<li><a href="#">News</a></li>
						<li><a href="#">Careers</a>
							<ul class="submenu">
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Mentoring</a></li>
							</ul>
						</li>
						<li><a href="#">Community</a>
							<ul class="submenu">
								<li><a href="#">Events</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Resources</a></li>
								<li><a href="#">Connect</a></li>
								<li><a href="#">Code of Conduct</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<header id="js-site-header" class="siteHeader">
					<div class="siteLogo">
						<h1>/*baltimore*/ women in tech logo</h1>
					</div>
				</header>
			</div>
			<main>
				<article>
					<header class="articleHeader">
						<h1 class="articleHeadline">Interviewee Name</h1>
						<p class="articleMeta">by <em>Keisha Reed</em></p>
					</header>
						<div class="articleContent">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos impedit incidunt rem illo quas dolore voluptas accusamus et eligendi sunt quaerat aliquam dicta facere aut nam atque ad, sapiente vitae.</p>
							<div class="imgWrapper">
								<img src="http://placekitten.com/g/200/300" alt="" />
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam rerum voluptate dignissimos atque esse ipsa amet quos magni natus, vitae assumenda incidunt id tenetur aliquam rem, iure delectus illo!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni in, voluptates dignissimos, error asperiores rerum tempora, est nulla reiciendis sint porro corrupti quas aperiam suscipit cupiditate quod incidunt possimus necessitatibus.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos impedit incidunt rem illo quas dolore voluptas accusamus et eligendi sunt quaerat aliquam dicta facere aut nam atque ad, sapiente vitae.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam rerum voluptate dignissimos atque esse ipsa amet quos magni natus, vitae assumenda incidunt id tenetur aliquam rem, iure delectus illo!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni in, voluptates dignissimos, error asperiores rerum tempora, est nulla reiciendis sint porro corrupti quas aperiam suscipit cupiditate quod incidunt possimus necessitatibus.</p>
						</div>
						<footer class="articleFooter">
							<div class="shareWrapper">
								<p>Share This</p>
								<ul class="socialWrapper">
									<li><a href="#"><span class="icon">t</span></a></li>
									<li><a href=""><span class="icon">f</span></a></li>
									<li><a href=""><span class="icon">wtf</span></a></li>
								</ul>
							</div>
							<div class="articleContribWrapper">
								<div class="imgWrapper">
									<img src="http://placekitten.com/g/250/250" alt="" />
								</div>
								<p class="articleContribBio"><strong>Dolor sit amet</strong> consectetur adipisicing elit. Hic dolorum libero provident ex eaque? Repellendus laudantium hic, totam veniam, illum commodi earum consequatur mollitia.</p>
							</div>
						</footer>
				</article>
			</main>
			<footer class="siteFooter">
				<a href="#" class="btn btnPrimary donateCTA">Donate</a>
				<ul class="socialWrapper">
					<li><a href="#"><span class="icon">t</span> @bmorewit</a></li>
					<li><a href=""><span class="icon">f</span> bmorewit</a></li>
				</ul>
				<p class="bmoreLink alignCenter"><a href="#">Made with <span>&hearts;</span> in Baltimore</a></p>
				<p class="legal">&copy; Copyright 2015 Copyright Name | <a href="#">Site Credits</a> | <a href="#">Contact</a></p>
			</footer>
		</div>
		<!-- .siteWrapper.wrapper -->

		<script src="/js/vendor/jquery-1.10.2.min.js"></script>

		<script>
		$(document).ready(function() {
			mobileMenu();
			layoutInit();
		});

		$(window).bind('resize', function(e) {
			window.resizeEvt;
			$(window).resize(function() {
				clearTimeout(window.resizeEvt);
				window.resizeEvt = setTimeout(function() {
					//code to do after window is resized
					layoutInit();
				}, 250);
			});
		});

		function mobileMenu() {
			var menuToggle = $('#js-mobile-menu').unbind();

			$('#js-navigation-menu').removeClass('show');
			menuToggle.on('click', function(e) {
				e.preventDefault();
				$('#js-navigation-menu').slideToggle(function() {
					if ($('#js-navigation-menu').is(':hidden')) {
						$('#js-navigation-menu').removeAttr('style');
					}
				});
			});
		}

		function layoutInit() {
			var widescreen = $(window).width() >= 800;
			var mobile = $(window).width() < 800;

			if ($('div').hasClass('interior')) {
				if (widescreen) {
					$('#js-site-header').insertBefore('#js-sitenav');
				} else {
					$('#js-site-header').insertAfter('#js-sitenav');
				}
			}
		}
		</script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		// <script>
		// 	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		// 	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		// 	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		// 	e.src='//www.google-analytics.com/analytics.js';
		// 	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		// 	ga('create','UA-XXXXX-X');ga('send','pageview');
		// </script>
	</body>
</html>