// LAYOUT
article {
}

.articleHeader {
}

.articleContent {
	word-wrap:break-word;
	h1, h2, h3, h4, h5, h6 {
		font-family:$font-body;
		@include scut-rem-fallback(18);
	}
	h1 {}
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	h6 {}

	p {}
	ul {
		li {}
	}
	ol {
		li {}
	}
	dl {
		dt {
		}
	}
	img {}
	iframe {}

	table {
		tr {}
		th {}
		td {}
	}

	blockquote, q {
		cite {
		}
	}
	hr {
	}
	a {
	}
	abbr, acronym {
	}
	sup, sub {
		font-size:65%;
	}
	.embedWrapper {
		display: block;
		margin-right:auto;
		margin-left:auto;
		text-align: center;
		max-width:100%;
	}
}

.articleFooter {
}
