article.sectionContent {
	.meta {
		line-height:1;
		margin-bottom:15px;
	}
}

.articleHeadline {
	font-family:$font-heading;
	font-weight: bold;
	@include scut-rem-fallback(22);
	@media only screen and (min-width:1024px) {
		@include scut-rem-fallback(28);
	}
}

.meta, .articleContent, .sectionContent {
	@media only screen and (min-width:1024px) {
		@include scut-rem-fallback(18);
	}
}

.articleContent {
	word-wrap:break-word;
	h1, h2, h3, h4, h5, h6 {
		font-family:$font-body;
		@include scut-rem-fallback(18);
	}
	h1 {}
	h2 {}
	h3 {}
	h4 {}
	h5 {}
	h6 {}

	p, ul, dl {
		margin-bottom:12px;
	}
	ul {
		li {}
	}
	ol {
		li {}
	}
	dl {
		dt {
		}
	}
	.imgWrapper {
		margin:18px 0;
	}
	img {}
	iframe {}

	table {
		tr {}
		th {}
		td {}
	}

	blockquote, q {
		cite {
		}
	}
	hr {
	}
	a {
	}
	abbr, acronym {
	}
	sup, sub {
		font-size:65%;
	}
	.embedWrapper {
		display: block;
		margin-right:auto;
		margin-left:auto;
		text-align: center;
		max-width:100%;
	}
}

.articleFooter {
}
