article {
	padding:18px 36px 72px;
}

.articleHeader {
	margin-bottom:3px;
}

.articleHeadline {
	font-family:$font-heading;
	font-weight: bold;
	@include scut-rem-fallback(22);
	@media only screen and (min-width:1024px) {
		@include scut-rem-fallback(28);
	}
}

.articleContent {
	margin:18px 0;
	word-wrap:break-word;
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;		
	}
	h1, h2, h3, h4 {
		font-family:$font-heading;
		@include scut-rem-fallback(20);
	}
	h1, h2 {
		border-bottom:2px solid $color-melon;
		margin:30px 0 9px;
	}
	h3, h4, h5, h6 {
		color:$color-charcoal;		
		margin:24px 0 6px;
	}
	h3 {
		border-bottom:2px solid $color-charcoal;
	}
	h5 {
		text-transform:uppercase;
	}
	h6 {
		border-bottom:1px solid $color-charcoal;
	}

	p, ul, dl {
		margin-bottom:12px;
	}
	p {
		@include clearfix;
	}
	ul, ol {
		margin-left:36px;
	}
	ul {
		li {}
	}
	ol {
		li {}
	}
	dl {
		dt {
			font-weight: bold;
		}
	}
	img {
		display: block;
		margin:0 auto;
		padding:18px;
		@include size(auto);
		max-width: 100%;
		&.alignRight, &.alignLeft {
			display:inline-block;
		}
		&.alignRight {
			float:right;
			padding-right:0;
		}
		&.alignLeft {
			float:left;
			padding-left:0;
		}
	}
	iframe {}

	table {
		width:100%;
		th {
			border-bottom:1px solid $color-charcoal;
		}
		tbody {
			tr {
				border-bottom:1px solid rgba($color-charcoal,0.25);
				@include hover-state {
					background:rgba($color-cream,0.4);
				}
			}
		}
	}

	blockquote, q {
		color:$color-charcoal;
		@include scut-rem-fallback(22);
		font-weight: bold;
		margin:9px auto;
		width:75%;
		cite {
			background:rgba($color-sunburst,0.5);
			display: block;
			font-family: $font-mono;
			font-style:normal;
			opacity:0.8;
			padding-right:8px;
			text-align: right;
			text-transform: uppercase;
		}
	}
	hr {
	}
	a {
	}
	abbr, acronym {
	}
	sup, sub {
		font-size:65%;
	}
	.embedWrapper {
		display: block;
		margin-right:auto;
		margin-left:auto;
		text-align: center;
		max-width:100%;
	}
	.btnWrapper {
		margin:36px 0;
		text-align: center;
	}
}

.shareWrapper {
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-family:$font-mono;
	font-weight:bold;
	padding:0 12px;
	text-transform:lowercase;
	p, .socialWrapper {
		display:inline-block;
		width:auto;
	}
	.socialWrapper {
		margin-left:12px;
		li {
			display:inline-block;
			margin:0 6px;
		}
	}
	a {
		display:block;
	}
}

.articleContribWrapper {
	padding:12px;
	.imgWrapper {
		margin:12px auto;
		width:80%;
		img {
			border-radius:50%;
			@include size(100% auto);
			max-width:250px;
		}
	}
	@media only screen and (min-width:380px) {
		@include display(flex);
		.imgWrapper, .articleContribBio {
			display:inline-block;
			@include flex(0 1 auto);
		}
		.imgWrapper {
			margin:0;
			width:35%;
		}
		.articleContribBio {
			margin-left:12px;
			width:65%;
		}
	}
	@media only screen and (min-width:600px) {
		.imgWrapper {
			width:20%;
		}
		.articleContribBio {
			width:80%;
		}
	}
}
