.events {
	margin-bottom:36px;
	padding:20px 14px;
	.sectionHeading, .eventList li {
		border-bottom-style:solid;
		border-bottom-width:1px;
	}
}

.eventList {
	list-style:none;
	margin:0;
	li {
		margin:0 0 12px;
		&:last-of-type {
			border-bottom:none;
			margin-bottom:0;
		}
	}
}

.eventItem {
	@include align-items(baseline);
	@include display(flex);
	text-decoration:none;
	.dateWrapper, .eventWrapper {
		@include flex(0 1 auto);
	}
	.dateWrapper {
		font-family:$font-mono;
		font-weight:bold;
		padding:6px;
		text-align:center;
		text-transform: uppercase;
		width:20%;
		.month, .date {
			display:block;
			line-height: 1;
		}
		.month {
			@include scut-rem-fallback(11);
		}
		.date {
			@include scut-rem-fallback(28);
		}
	}
	.eventWrapper {
		line-height: 1.2;
		padding:6px 6px 6px 12px;
		width:80%;
		.eventTitle {
			font-family:$font-mono;
			font-weight:bold;
			margin-bottom:0;
			text-transform: uppercase;
		}
	}
}
