.homepage .siteHeader {
	.siteDesc {
		.headline {
			min-height:180px;
			span {
				margin-left:-3px;
				padding:6px 3px;
			}
			@media only screen and (min-width:380px) {
				min-height:190px;
			}
			@media only screen and (min-width:500px) and (max-width:1023px) {
				min-height:165px;
			}
			@media only screen and (min-width:500px) and (max-width:729px) {
				margin-right:auto;
				margin-left:auto;
				text-align:center;
				max-width:600px;				
			}
		}
	}
	@media only screen and (min-width:730px) {
		.row {
			@include display(flex);
			padding-bottom:24px;
			width:100%;
		}
		.siteLogo, .siteDesc {
			display:inline-block;
			@include flex(0 1 auto);
			margin-top:0;
		}
		.siteDesc {
			width:55%;
		}
	}
	@media only screen and (min-width:730px) and (max-width:767px) {
		.btnWrapper {
			margin:0 0 0 45%;
			width:55%;
		}
	}
	@media only screen and (min-width:768px) {
		padding-bottom:20px;
	}
	@media only screen and (min-width:800px) {
		.siteLogo, .btnWrapper {
			width:45%;
		}
		.btnWrapper {
			text-align:center;
		}
	}
}