.homepage .siteHeader {
	.siteLogo {
		background:url(../images/bwit_logotext_dk.png) no-repeat;
		background-position:top center;
		background-size:contain;
		@include size(auto 60px);
		@media only screen and (min-width:400px) {
			height:75px;
		}
		@media only screen and (min-width:500px) {
			margin:24px auto 48px;
			text-align:center;
		}
	}
	.siteLogoSecondary {
		background:url(../images/bwit_flower.png) no-repeat;
		background-position:center;
		background-size:contain;
		position:absolute;
		right:0;
		bottom:-70px;
		left:0;
		@include size(100% 130px);
	}
	.siteName {
		@include hide-text;
	}
	.siteDesc {
		margin:24px 0 0;
		.headline {
			min-height:180px;
			span {
				margin-left:-3px;
				padding:6px 3px;
			}
			@media only screen and (min-width:380px) {
				min-height:190px;
			}
			@media only screen and (min-width:500px) {
				min-height:165px;
			}
			@media only screen and (min-width:500px) and (max-width:729px) {
				margin-right:auto;
				margin-left:auto;
				text-align:center;
				max-width:600px;				
			}
		}
		.btnWrapper {
			margin:18px 0 36px;
			text-align:center;
			.btn {
				@media only screen and (min-width:400px) {
					min-width:150px;
				}

			}
		}
	}
	@media only screen and (min-width:730px) {
		@include display(flex);
		padding-bottom:48px;
		.siteLogo, .siteDesc {
			display:inline-block;
			@include flex(0 1 auto);
		}
		.siteLogo {
			background-image:url(../images/bwit_v_li.png);
			@include size(35% auto);
			h1 {
				font-size:150%;
			}
		}
		.siteDesc {
			margin-left: 48px;
			width:65%;
		}
		.siteLogoSecondary {
			display:none;
		}
	}
}