.homepage .siteHeader {
	.siteLogo {
		background:url(../images/bwit_logotext_dk.png) no-repeat;
		background-size:contain;
		@include size(auto 60px);
	}
	.siteLogoSecondary {
		background:url(../images/bwit_flower.png) no-repeat;
		background-position:center;
		background-size:contain;
		position:absolute;
		right:0;
		bottom:-70px;
		left:0;
		@include size(100% 130px);
	}
	.siteName {
		@include hide-text;
	}
	.siteDesc {
		margin:24px 0 0;
		.headline {
			min-height:180px;
			span {
				margin-left:-3px;
				padding:6px 3px;
			}
		}
		.btnWrapper {
			margin:18px 0 36px;
			text-align:center;
		}
	}
	@media only screen and (min-width:800px) {
		@include display(flex);
		padding-bottom:48px;
		.siteLogo, .siteDesc {
			display:inline-block;
			@include flex(0 1 auto);
		}
		.siteLogo {
			width:25%;
			h1 {
				font-size:150%;
			}
		}
		.siteDesc {
			width:75%;
		}
		.siteLogoSecondary {
			display:none;
		}
	}
}