.icon {
	display:inline-block;
	line-height: 1;
	speak: none;
	text-transform: none;
	.siteFooter & {
		border-radius:3px;
		padding:3px;
		@include size(42px);
	}
	.shareWrapper & {
		@include size(30px);
		padding:6px;
	}
}

.logoFB {

}

.logoTwitter {

}
