.noList, .noList li {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

.archiveList {
	li {
		margin-bottom:9px;
		&:before {
			background:$color-melon;
			content:'';
			display:inline-block;
			margin-right: 6px;
			@include size(14px);
		}
	}
}

.socialWrapper {
	.siteFooter & {
		li {
			letter-spacing: 1px;
			margin-bottom: 12px;
			a {
				display:block;
			}
			@media only screen and (min-width:450px) and (max-width:599px) {
				margin-bottom:0;
			}
			@media only screen and (min-width:450px) {
				display:inline-block;
				margin-right:12px;
				min-width:175px;
				&:last-of-type {
					margin-right:0;
				}
			}
		}
		@media only screen and (min-width:969px) {
			padding-right:22px;
			li {
				line-height:60px;
				margin-top:14px;
				margin-bottom:0;			
			}
		}
	}
}

.legal {
	li {
		white-space: nowrap;
		&:after {
			border-right-style:solid;
			border-right-width:1px;
			content:'';
			display:inline;
			padding:0 5px;
		}
		&:last-of-type:after {
			display:none;
		}
	}
}