.navMenu {
	@media only screen and (min-width:800px) {
		display:none;
	}
}

.siteNav {
	display:none;
	@media only screen and (min-width:800px) {
		display:block;
		.homepage & {
			float:right;
			li {
				display:inline-block;
				position:relative;
				&:hover, &:focus {
					> .submenu {
						display:block;
					}
				}
			}
		}
		.homepage & .submenu {
			display:none;
			margin:0;
			padding:0 6px;
			position:absolute;
			top:24px;
			left:0;
		}
	}
}