@import 'libs/scut', 'layout_generic';

.wrapper {
	padding:18px 12px;
}

// SITE LAYOUT
.siteWrapper {
	margin-right:auto;
	margin-left:auto;
	position:relative;
	width:100%;
	@media only screen and (min-width:1280px) {
		max-width:1200px;
	}
}

.masthead {
	margin:0 0 75px;
	position:relative;
	@media only screen and (min-width:730px) {
		margin-bottom:20px;
	}
}

.siteHeader {
	padding:72px 36px 36px;
	@media only screen and (min-width:460px) {
		padding-bottom:60px;
	}
}

.siteFooter {
	padding-top:54px;
	padding-bottom:9px;
	.donateCTA {
		display:block;
		margin:0 auto 36px;
		max-width:400px;
		width:100%;
	}

	.bmoreLink {
		margin:48px 0;
		em {
			padding:0 3px;			
		}
		@media only screen and (max-width:919px) {
			text-align:center;
		}
	}
	.legal {
		margin-bottom:0;
	}
	@media only screen and (min-width:600px) {
		@include display(flex);
		flex-wrap:wrap;
		.donateCTA, .socialWrapper {
			@include flex(0 1 auto);
			width:45%;
		}
		.donateCTA {
			margin-top:14px;
		}
		.socialWrapper {
			margin-left:18px;
		}
		p {
			width:100%;
		}
		.legal {
			text-align:center;
		}
	}
	@media only screen and (min-width:920px) {
		.bmoreLink, .legal {
			display:inline-block;
			margin:48px 0 0;
			vertical-align: bottom;
			width:50%;
		}
		.bmoreLink {
			padding-left:24px;
		}
		.legal {
			padding-right:24px;
			text-align:right;
		}
	}
}

// HOMEPAGE
@import 'layout_homepage';

// INTERIOR
@import 'layout_interior';

@import 'zindex';