.interior {
	.siteDesc {
		display:none;
	}
	@media only screen and (min-width:730px) {
		@include display(flex);
		flex-wrap:wrap;
		.masthead, main {
			@include flex(0 1 auto);
		}
		.masthead {
			width:30%;
			.btnWrapper {
				display:none;
			}
		}
		.siteHeader {
			padding-right:6px;
			padding-left:6px;
		}
		main {
			margin-top:250px;
			width:70%;
		}
		.siteFooter {
			width:100%;
		}
		.siteLogo {
			h1 {
				font-size:150%;
			}
		}
	}
}