@import '../modules/hero';

.homepage {
	.masthead {
		@media only screen and (max-width:729px) {
			margin-bottom:75px;
		}		
	}
	.fullView {
		.sectionHeading, .sectionContent {
			padding:12px;
		}
		@media only screen and (max-width:339px) {
			.sectionHeading { width:30%; }
			.sectionContent { width:70%; }
		}
		@media only screen and (min-width:340px) and (max-width:379px) {
			.sectionHeading { width:25%; }
			.sectionContent { width:75%; }
		}
		@media only screen and (min-width:380px) {
			.sectionContent {
				padding-right:24px;
				padding-left:24px;
			}
		}
		@media only screen and (min-width:380px) and (max-width:579px) {
			.sectionHeading { width:20%; }
			.sectionContent { width:80%; }		
		}
		@media only screen and (min-width:580px) and (max-width:767px) {
			.sectionHeading { width:15%; }
			.sectionContent { width:85%; }		
		}
	}
	.sectionHeading, .articleHeadline {
		a {
			display:block;
			width:100%;
		}
	}
	@media only screen and (max-width:767px) {
		.fullView {
			border-style:solid;
			border-top-width:9px;
			@include display(flex);
			padding:0;
			.sectionHeading, .sectionContent {
				@include flex(0 1 auto);
			}
			.sectionHeading {
				@include align-items(stretch);
				@include display(flex);
			}
		}
		.minView {
			.sectionHeading a {
				padding:18px 0;
			}
			.sectionContent {
				display:none;
			}
		}
		.careers + .careers {
			display:none;
		}
	}	
	@media only screen and (min-width:768px) {
		.masthead {
			margin-bottom:0;
		}
		main {
			@include align-items(baseline);
			@include display(flex);
			@include flex-wrap(wrap);
			position:relative;
			padding-top:24px;
			padding-right:325px;
			.news, .blog, .careers, .community {
				@include flex(0 1 auto);
				margin:0 auto 18px;
				padding:0 0 2px;
				width:90%;
				.sectionHeading {
					font-size:85%;
					padding:3px 6px;
					text-transform:uppercase;
					a {
						text-decoration:none;
					}
				}
				.sectionContent {
					padding:16px;
				}
			}
			.events {
				position:absolute;
				top:-96px;
				right:0;
				width:325px;
				.sectionHeading {
					text-align:center;
				}
			}
		}
	}
	@media only screen and (min-width:1024px) {
		main {
			padding:50px 325px 50px 25px;
			.news, .blog, .careers, .community {
				margin-right:25px;
				width:46%;
			}
		}
	}
	@media only screen and (min-width:1280px) {
		main {
			padding-right:360px;
			.events {
				right:30px;
			}
		}
	}
}