@import '../modules/hero';

.homepage {
	.fullView {
		border-style:solid;
		border-top-width:9px;
		.sectionHeading, .sectionContent {
			padding:12px;
		}
		@media only screen and (max-width:339px) {
			.sectionHeading { width:30%; }
			.sectionContent { width:70%; }
		}
		@media only screen and (min-width:340px) and (max-width:379px) {
			.sectionHeading { width:25%; }
			.sectionContent { width:75%; }
		}
		@media only screen and (min-width:380px) {
			.sectionContent {
				padding-right:24px;
				padding-left:24px;
			}
		}
		@media only screen and (min-width:380px) and (max-width:579px) {
			.sectionHeading { width:20%; }
			.sectionContent { width:80%; }		
		}
		@media only screen and (min-width:580px) and (max-width:799px) {
			.sectionHeading { width:15%; }
			.sectionContent { width:85%; }		
		}
	}
	.sectionHeading, .articleHeadline {
		a {
			display:block;
			width:100%;
		}
	}
	@media only screen and (max-width:799px) {
		.fullView {
			@include display(flex);
			padding:0;
			.sectionHeading, .sectionContent {
				@include flex(0 1 auto);
			}
			.sectionHeading {
				@include align-items(stretch);
				@include display(flex);
			}
		}
		.minView {
			.sectionHeading a {
				padding:18px 0;
			}
			.sectionContent {
				display:none;
			}
		}
		.careers + .careers {
			display:none;
		}
	}	
	@media only screen and (min-width:800px) {
		main {
			@include display(flex);
			@include flex-wrap(wrap);
			position:relative;
			padding-right:275px;
			.news, .blog, .careers, .community {
				@include flex(0 1 auto);
				padding:0;
				width:100%;
				.sectionHeading {
					font-size:85%;
					padding:3px 6px;
					text-transform:uppercase;
					a {
						text-decoration:none;
					}
				}
				.sectionContent {
					padding:0 24px 6px;
				}
			}
			.events {
				position:absolute;
				top:-48px;
				right:0;
				width:250px;
			}
		}
	}
	@media only screen and (min-width:1024px) {
		main {
			padding-right:325px;
			.news, .blog, .careers, .community {
				width:48%;
			}
			.events {
				width:300px;
			}
		}
	}
}